body {
    background-color: #f8f9fa;
}
nav.bg-dark {
    position: sticky;
    top: 0;
}
main {
    overflow-x: auto;
}

th.sorted-asc::after {
    content: " ▲";
    color: #000;
}
th.sorted-desc::after {
    content: " ▼";
    color: #000;
}
